body {
  background-color: whitesmoke;
  
}

.comb {
  background-color: #9198e5;
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

body {
  color: ghostwhite;
  font-family: "Raleway", sans-serif;
}

.input {
  border: none;
  border-radius: 25px;
  outline: none;
}

.button {
  border-radius: 25px;
  background-color: #9198e5;
  color: white;
  text-align: center;
  margin-left: 10px;
  outline: none;
  border-color: #e66465;
}

.box {
  margin-top: 20%;
  border-style: solid;
  margin-bottom: 1rem;
}

.nav li {
  display: inline;
  margin-right: 10px;
}

.par {
  text-align: center;
  margin-top: 4%;
}

@media (max-width: 600px) {
  .comb {
    width: 90%;
    height: 100%;
  }
}
